body {
    background-color: #072739;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 18px;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}
p {
    margin-bottom: 4rem;
}
.button {
    border: none;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 40px;
    cursor: pointer;
}
.module.module-a11y-checker {
    padding: 12rem 0;
}
.module.module-a11y-checker .module-header h1 {
    font-size: 4em;
    margin-bottom: 1.5rem;
    font-weight: normal;
    text-transform: none;
    text-align: center;
    color: white;
    line-height: 1;
}
.module-a11y-checker-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (max-width: 767px) and (min-width: 480px) {
    .module-a11y-checker-container {
        max-width: 748px;
    }
}
.module-a11y-checker-container--narrow {
    max-width: 760px;
    text-align: center;
    color: white;
}
.module-a11y-checker .form-submit {
    background: #d45422;
    color: white;
}
.a11y-website-checker-form {
    display: none;
    align-items: center;
    padding-bottom: 2px;
    border-bottom: 2px solid #fa5d19;
}
.a11y-website-checker-form.shown {
    display: flex;
}
.a11y-website-checker-form input[type="text"] {
    flex: 1;
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    height: 60px;
}
.a11y-website-checker-loading-bar, .a11y-website-checker-results {
    display: none;
}
.a11y-website-checker-results {
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 60px;
}
.a11y-website-checker-results.shown {
    display: flex;
}
.a11y-website-checker-results .results-website-image {
    box-shadow: 0 2px 35px 20px rgba(0, 0, 0, 0.3);
    position: relative;
}
@media (min-width: 1200px) {
    .a11y-website-checker-results .results-website-image {
        width: 58.33333%;
    }
}
.a11y-website-checker-results .results-website-image img {
    display: block;
}
.a11y-website-checker-results .results-content {
    background: white;
    margin-top: 32px;
}
@media (min-width: 1200px) {
    .a11y-website-checker-results .results-content {
        width: 41.6667%;
    }
}
.a11y-website-checker-results .results-content:focus {
    outline: none;
}
.a11y-website-checker-results .results-content-header {
    background: #f7f7f7;
    padding: 0.625rem 2.75rem;
}
.a11y-website-checker-results .results-content-header h2, .a11y-website-checker-results .results-content-header h3 {
    font-size: 1.5rem;
    margin: 0;
}
.a11y-website-checker-results .results-content-body {
    padding: 2.75rem;
    font-size: 15px;
}
.a11y-website-checker-results .results-content-body p, .a11y-website-checker-results .results-content-body ul, .a11y-website-checker-results .results-content-body ol {
    margin-bottom: 1rem;
}
.a11y-website-checker-results .results-content-footer {
    background-color: #d45422;
    padding: 0.625rem 2.75rem;
}
.a11y-website-checker-results .website-name {
    font-size: 1rem;
    display: block;
}
.a11y-website-checker-results .results-score {
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1rem;
}
.a11y-website-checker-results .results-score.pass {
    color: #4ba54b;
}
.a11y-website-checker-results .results-score.fail {
    color: #d64f41;
}
.a11y-website-checker-loading-bar {
    color: white;
    text-align: center;
}
.a11y-website-checker-loading-bar img {
    width: 150px;
    height: 150px;
}
.a11y-website-checker-loading-bar .loading-text {
    display: block;
}
.a11y-website-checker-loading-bar:focus {
    outline: none;
}
.results-content-body .button-primary {
    background: #dc4405;
    color: white;
}